<!-- <div class="left w-1/2">
  <div style="height: 1800px;">
    <div>
      <%= image_tag asset_path('nun2.png') %>
    </div>
    <div>
      <%= image_tag asset_path('dorso.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('fiesta.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('nascimiento.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('sos.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('grande.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('nun2.png') %>
    </div>
    <div>
      <%= image_tag asset_path('dorso.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('fiesta.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('nascimiento.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('sos.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('grande.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('nun2.png') %>
    </div>
    <div>
      <%= image_tag asset_path('dorso.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('fiesta.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('nascimiento.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('sos.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('grande.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('nun2.png') %>
    </div>
    <div>
      <%= image_tag asset_path('dorso.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('fiesta.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('nascimiento.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('sos.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('grande.jpg') %>
    </div>
  </div>
</div> -->

<div class="px-4 pt-5 bg-gray-100">

  <h4 class="pb-2 ">Alberto Greco nace en Buenos Aires, Argentina en 1931 y es reconocido como uno de los pioneros de la vanguardia informalista argentina al integrar en 1959 el Movimiento Informalista Argentino.
    En 1961 realiza su última muestra de pinturas en Buenos Aires en la galería Pizarro, en la cual presenta la serie Las Mojas.
    Poco después se instala en Paris donde realiza, en 1962, la Primera Exposición de Arte Vivo, “firmando” personas.
    En 1963 viaja a Piedralaves en Ávila, España, donde realiza la serie de acciones fotografiadas por Montserrat Santamaría.
    En Génova, en ese mismo año, publica el Manifiesto Dito dell’Arte Vivo en italiano.
    En 1964, expone en la galería Juana Mordó en Madrid y regresa a Buenos Aires, donde presenta su experiencia de Arte Vivo: Mi Madrid querido. Pintura espectáculo Vivo-Dito, con colaboración del bailarín Antonio Gades.
    En 1965, se instala en Barcelona, ciudad en la cual se quita la vida.</h4>

  <h2 class="py-2 text-3xl border-r pr-8">TRAYECTORIA</h2>

  <div class="py-2">
    <h3 class="font-bold">1947-48</h3>
    <h4>Asiste a los talleres de Cecilia Marcovich y Tomas Maldonado.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1954</h3>
    <h4>Beca del Gobierno Francés para mudarse a París.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1955</h3>
    <h4>Expone en la galería La Roue - París, Francia.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1956</h3>
    <h4>Regresa a Buenos Aires y expone en la galería Antígona.</h4>
    <h4>Expone en la galería Petit Galerie – Río de Janeiro, Brasil.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1958</h3>
    <h4>Expone en Museo de Arte Moderno – Sao Paulo, Brasil.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1958</h3>
    <h4><strong>Premio</strong> Adquisición del Estado de San Pablo en pintura.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1959</h3>
    <h4>Integra Movimiento Informalista con Kenneth Kemble, López, Maza, Martha Pucciarelli, y Luis Wells, entre otros.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1959</h3>
    <h4>Movimiento Informalista. Galería Van Riel – Buenos Aires, Argentina.</h4>
    <h4>Informalismo. Galería Pizarro – Buenos Aires, Argentina.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1960</h3>
    <h4>Expone en Galería Pizarro – Buenos Aires, Argentina.</h4>
    <h4>Participa en VI Salón Anual de Arte Nuevo. Museo Eduardo Sívori – Buenos Aires, Argentina.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1960</h3>
    <h4><strong>Premio</strong> de público de Ridder.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1961</h3>
    <h4>Las Monjas. Galería Pizarro – Buenos Aires, Argentina.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1962</h3>
    <h4>Pablo (Curatella) Manes y 30 artistas argentinos de Nueva Generación. Galería Creuze Messine – París, Francia.</h4>
  </div>
  <div class="py-2">
    <h3 class="font-bold">1964</h3>
    <h4>Expone en Galería Juana Mordó – Madrid, España.</h4>
  </div>

  <div class="flex py-4">
    <div class="mr-4">
      <div class="py-2">
        <h3 class="font-bold">1996</h3>
        <h4>Alberto Greco. Obras extraviadas. Centro Cultural Borges – Buenos Aires, Argentina.</h4>
      </div>
      <div class="py-2">
        <h3 class="font-bold">1992</h3>
        <h4>Alberto Greco. Museo Nacional de Bellas Arte – Buenos Aires, Argentina.</h4>
      </div>
      <div class="py-2">
        <h3 class="font-bold">1991</h3>
        <h4>Alberto Greco. IVAM Centro Julio González – Valencia, España.</h4>
      </div>
      <div class="py-2">
        <h3 class="font-bold">1988</h3>
        <h4>Alberto Greco y Rubén Santatonín. Fundación San Telmo – Buenos Aires, Argentina.</h4>
      </div>
      <div class="py-2">
        <h3 class="font-bold">1987</h3>
        <h4>Alberto Greco a cinco anos de su muerte. Galería Carmen Waugh – Buenos Aires, Argentina.</h4>
      </div>
      <div class="py-2">
        <h3 class="font-bold">1967</h3>
        <h4>Salón de Jeune Peinture -  París, Francia.</h4>
      </div>
      <div class="py-2">
        <h3 class="font-bold">1965</h3>
        <h4>Homenaje a Alberto Greco. Galería Pizarro – Buenos Aires, Argentina.</h4>
      </div>
    </div>
    <h2 class="py-2 text-3xl border-l pl-8 w-1/3">EXHIBICIONES PÓSTUMAS</h2>
  </div>

  <div class="py-6">
    <h2 class="text-3xl">COLECCIONES PÚBLICAS</h2>
    <h3>Museo de Arte Contemporáneo de Rosario – <i>Rosario, Argentina</i></h3>
    <h3>Museo de Arte Moderno de Buenos Aires – <i>Buenos Aires, Argentina</i></h3>
    <h3>Museo Nacional de Bellas Arte – <i>Buenos Aires, Argentina</i></h3>
    <h3>Museum of Modern Art - <i>Nueva York, Estados Unidos</i></h3>
    <h3>Fundación Federico Jorge Klemm – <i>Buenos Aires, Argentina</i></h3>
    <h3>Museo Nacional Centro de Arte Reina Sofía – <i>Madrid, España</i></h3>
  </div>

</div>

<!-- <div class="w-2/5">
  <div class="float-right sm:float-none md:float-right ml-20">
    <%= image_tag asset_path('alberto1.jpg') %>
  </div>
  <div class="float-right sm:float-none md:float-right ml-20">
    <%= image_tag asset_path('alberto.jpg') %>
  </div>
  <div class="float-right sm:float-none md:float-right ml-20">
    <%= image_tag asset_path('alberto1.jpg') %>
  </div>
  <div class="float-right sm:float-none md:float-right ml-20">
    <%= image_tag asset_path('alberto.jpg') %>
  </div>
</div> -->

</div>
