<%= content_for :menu do %>
  ""
<% end %>

<nav>
  <header>
    <div class="pt-3 text-white font-mono pt-12 pl-12">
      <p class="px-6 hover:text-yellow-500 hover:underline text-4xl animate__animated animate__fadeInDown"><%= link_to "BIOGRAFIA", bio_path %></p>
      <p class="px-6 hover:text-yellow-500 hover:underline text-4xl animate__animated animate__fadeInDown"><%= link_to "OBRAS", artworks_path %></p>
      <p class="px-6 hover:text-yellow-500 hover:underline text-4xl animate__animated animate__fadeInDown"><%= link_to "ARTE VIVO", lives_path %></p>
      <p class="px-6 hover:text-yellow-500 hover:underline text-4xl animate__animated animate__fadeInDown"><%= link_to "MUESTRAS", shows_path %></p>
      <p class="px-6 hover:text-yellow-500 hover:underline text-4xl animate__animated animate__fadeInDown"><%= link_to "PUBLICACIONES", shows_path %></p>
      <p class="px-6 hover:text-yellow-500 hover:underline text-4xl animate__animated animate__fadeInDown"><%= link_to "PRENSA", shows_path %></p>
    </div>
  </header>
</nav>

<!-- <div class="flex"> -->

  <!-- <div class="left w-1/2"> -->
  <div>
    <div style="height: 1800px;">
      <div>
        <%= image_tag asset_path('dorso.jpg') %>
      </div>
      <div>
        <%= image_tag asset_path('nun.png') %>
      </div>
      <div>
        <%= image_tag asset_path('fiesta.jpg') %>
      <div>
        <%= image_tag asset_path('nascimiento.jpg') %>
      </div>
      <div>
        <%= image_tag asset_path('sos.jpg') %>
      </div>
      <div>
        <%= image_tag asset_path('grande.jpg') %>
      </div>
      </div>
    </div>
  </div>

<!--
  <div class="right w-1/2">
    <div style="height: 1800px;">
      <div>
        <%= image_tag asset_path('nascimiento.jpg') %>
      </div>
      <div>
        <%= image_tag asset_path('sos.jpg') %>
      </div>
      <div>
        <%= image_tag asset_path('grande.jpg') %>
      </div>
    </div>
  </div> -->

<!-- </div> -->
