<%= content_for :menu do %>
  ""
<% end %>

<nav>
  <header>
    <div class="pt-3 flex justify-center text-white">
      <p class="px-2 hover:text-yellow-300 hover:underline text-2xl"><%= link_to "BIOGRAFIA", bio_path %></p>
      <p class="px-2 hover:text-yellow-300 hover:underline text-2xl"><%= link_to "OBRAS", artworks_path %></p>
      <p class="px-2 hover:text-yellow-300 hover:underline text-2xl"><%= link_to "ETAPAS", phases_path %></p>
      <p class="px-2 hover:text-yellow-300 hover:underline text-2xl"><%= link_to "MUESTRAS", shows_path %></p>
    </div>
  </header>
</nav>

<div class="flex">

  <div class="left w-1/2">
    <div style="height: 1800px;">
      <div>
        <%= image_tag asset_path('nun2.png') %>
      </div>
      <div>
        <%= image_tag asset_path('dorso.jpg') %>
      </div>
      <div>
        <%= image_tag asset_path('fiesta.jpg') %>
      </div>
    </div>
  </div>

  <div class="right w-1/2">
    <div style="height: 1800px;">
      <div>
        <%= image_tag asset_path('nascimiento.jpg') %>
      </div>
      <div>
        <%= image_tag asset_path('sos.jpg') %>
      </div>
      <div>
        <%= image_tag asset_path('grande.jpg') %>
      </div>
    </div>
  </div>

</div>
