<div class="menu justify-center x-4 w-14 flex-none">
    <!-- <div style="position: fixed;"> -->
  <div class="bg-gray-300 h-full px-4 pt-12">
      <% @shows.each do |show| %>
        <h1 class="menu_i hover:text-white pt-3 pb-2 uppercase">
          <div class="menu_i_tx over:text-white"><%= show.subtitle%></div>
        </h1>
      <% end %>
    <!-- </div> -->
  </div>
  <!-- <div class="menu_i hover:text-yellow-500"><span class="menu_i_tx"><%= link_to "✕", phases_path %></span></div> -->
</div>


<div class="pt-12 pl-12">
  <h1 class="pb-6 text-yellow-500 text-4xl animate__animated animate__fadeInDown">MUESTRAS</h1>

  <div>
    <% @shows.each do |show| %>
    <div class="py-2">
      <h1 class=""><%= show.year %></h1>
      <h1><%= show.place %>. <%= show.city %>, <%= show.country %></h1>
      <div>
        <img class="float-left pb-2 pr-2" src="/assets/images/dorso.jpg">
        <h1><%= show.about %></h1>
      </div>
    </div>
    <% end %>
  </div>

</div>

