<div class="flex">

  <div class="px-4 pt-5 bg-gray-100">
    <% @shows.each do |show| %>

      <h1><%= show.title %></h1>
      <h1><%= show.year %></h1>
      <h1><%= show.place %></h1>
      <h1><%= show.city %></h1>
      <h1><%= show.country %></h1>
    <% end %>
  </div>

</div>




