<div class="flex">

  <div class="flex-none">
    <div class="left">

      <div class="flex">

        <div>
          <header>
            <div class="justify-center px-4 pt-5">
              <p class="px-2 hover:text-yellow-300 pb-3"><%= link_to "GRECO", root_path %></p>
              <p class="px-2 hover:text-yellow-300"><%= link_to "BIOGRAFIA", bio_path %></p>
              <p class="px-2 hover:text-yellow-300"><%= link_to "ETAPAS", phases_path %></p>
              <p class="px-2 hover:text-yellow-300"><%= link_to "MUESTRAS", shows_path %></p>
            </div>
          </header>
        </div>

        <div class="bg-gray-100 h-screen px-4 pt-5">
          <h1 class="hover:text-yellow-300">PRIMERA ETAPA</h1>
          <h1 class="hover:text-yellow-300">INFORMALISMO</h1>
          <h1 class="hover:text-yellow-300">LA EXPOSICION RODANTE</h1>
          <h1 class="hover:text-yellow-300">LAS MONJAS  </h1>
          <h1 class="hover:text-yellow-300">LA VIDA SOBRE PAPEL</h1>
          <h1 class="hover:text-yellow-300">ARTE VIVO</h1>
          <h1 class="hover:text-yellow-300">COLLAGE</h1>
          <h1 class="hover:text-yellow-300">ESCRITOS</h1>
        </div>

      </div>

    </div>
  </div>

  <div class="flex-grow">
    <div class="right">
      <div style="height: 1800px;">
        <%= image_tag asset_path('fiesta.jpg') %>
      </div>
    </div>
  </div>

</div>
