<div class="menu justify-center x-4">
  <div class="bg-yellow-100 h-screen px-4">
    <div class="menu_i hover:text-yellow-300"><span class="menu_i_tx"><%= link_to "✕", phases_path %></span></div>
    <% @phases.each do |phase| %>
      <div class="menu_i hover:text-yellow-300"><%= link_to phase.title, phase_path(phase), class:"menu_i_tx hover:text-yellow-300" %></div>
    <% end %>
  </div>
</div>

<div class="py-4 pl-5 flex-grow">
  <h1 class=" pb-5 text-4xl"><%= @phase.title %></h1>
  <h2 class=""><%= @phase.subtitle %></h2>
  <h2 class="">De <%= @phase.starting_year %> a <%= @phase.ending_year %></h2>
  <h2 class="pb-5"><%= @phase.about %></h2>
  </div>

<!-- <div class="left w-1/6">
  <div style="height: 1800px;">
    <div>
      <%= image_tag asset_path('nun2.png') %>
    </div>
    <div>
      <%= image_tag asset_path('dorso.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('fiesta.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('nascimiento.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('sos.jpg') %>
    </div>
    <div>
      <%= image_tag asset_path('grande.jpg') %>
    </div>
  </div> -->
</div>
