<!DOCTYPE html>
<html>
  <head>
    <title>Greco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body class="font-mono">
    <div class="text-gray-600 flex">

      <% unless content_for? :menu %>


        <div class="h-screen px-4 w-14 flex-none">
          <div style="position: fixed;">
            <p class="text-center pt-3 pb-2 text-2xl hover:text-yellow-300"><%= link_to "★", welcome_path %></p>
            <ul class="menu justify-center ">
              <li class="menu_i hover:text-yellow-300"><span class="menu_i_tx"><%= link_to "MUESTRAS", shows_path %></span></li>
              <li class="menu_i hover:text-yellow-300"><span class="menu_i_tx"><%= link_to "ETAPAS", phases_path %></span></li>
              <li class="menu_i hover:text-yellow-300"><span class="menu_i_tx"><%= link_to "OBRAS", artworks_path %></span></li>
              <li class="menu_i hover:text-yellow-300"><span class="menu_i_tx"><%= link_to "BIOGRAFIA", bio_path %></span></li>
              <li class="menu_i hover:text-yellow-300"><span class="menu_i_tx"><%= link_to "✕", root_path %></span></li>
            </ul>
          </div>
        </div>

       <% end %>


      <%= yield %>

    </div>
  </body>
</html>
